# Ignore all WordPress theme files in src/, build/ and dist/ folders.
# Ignore bower.json and bower_components/ folder.
# Track only Themegulper workflow files!
# Ignore .temp folder.
src/
dist/
build/
node_modules/
.temp
.sass-cache
npm-debug.log
