# Ignore all WordPress theme files in src/ (build/ and dist/ too). 
# Ignore bower.json and bower_components/ folder.
# Track only Themegulper workflow files!
src/*
src/
dist/
build/
node_modules/
bower_components/
bower.json
.temp
.sass-cache
npm-debug.log